body {
  font: 28px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -5px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: 5rem auto;
}

.game-info {
  margin-left: 20px;
}

.button {
  text-decoration: none;
  /*border-style: 1px, solid, black;*/
  border-style: solid;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 10px 0;
  padding: 1px 3px;
  color: #888;
}

.button:hover {
  color: #fc6203;
}